click==4.1
cycli==0.7.5
gnureadline==6.3.3
ipython==3.2.1
itchat==1.0.11
jedi==0.8.1
json-rpc==1.8.1
prompt-toolkit==0.57
py2neo==3
pyflakes==0.8.1
pyftpdlib==1.4.0
Pygments==2.0.2
requests==2.10.0
service-factory==0.1.2
six==1.10.0
vboxapi==1.0
virtualenv==15.0.2
wcwidth==0.1.6
yapf==0.10.0
